{% extends "index.twig" %}

{% block content %}
    <h1>Liste des Articles</h1>
    
    <ul>
        {% for c in articles %}
            <li>
                <div class ="info">
                    {% if c.image_url %}
                        <img src="{{ c.image_url }}" alt="" style="max-width: 80px; border-radius: 4px;">
                    {% endif %}
                    <strong>{{ c.titre }}</strong>
                    {% if c.est_publie == 1 %}
                        <span class="badge badge--pub">publier</span>
                    {% else %}
                        <span class="badge badge--draft">pas publier</span>
                    {% endif %}
                    <div class ="meta">{{ c.cree }} par {{ c.auteur.nom }}</div>
                </div>
                
                {% if user and user.id == c.auteur_id %}
                    <form action="{{ url_for('publier', {'id': c.id}) }}" method="POST" style="margin: 0;">
                        <button type="submit">
                            {% if c.est_publie == 1 %} Dépublier {% else %} Publier {% endif %}
                        </button>
                    </form>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% endblock %}